/* Estilos globales */
main {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
  background-color: #cccccc; /* fondo cálido suave */
  color: #1a1a1a;
  font-family: 'Karla', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

.transicion {
  text-align: center;
  margin: 80px auto;
}

.transicion button {
  background-color: #d43f3a;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

.transicion button:hover {
  background-color: #b5302f;
}



.pentagrama-con-boton {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.referencias-flotante {
  position: fixed;
  bottom: 100px;
  right: 30px;
  background-color: #fdfdda;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  max-width: 360px;
  width: 360px;
  height: auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow: auto;
}

.referencias-flotante img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}



.boton-ayuda {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 56px;
  height: 56px;
  background-color: #d43f3a;
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1001;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-leyenda {
  background-color: #fdfdda;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-leyenda img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

